@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
  width: 100%;
  margin: auto;
}
.container {
  display: flex;
  height: 100vh;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../background.jpg");
  background-size: cover;
  height: inherit;
  color: #fff;
}

.right-column {
  display: flex;
  flex-direction: column;
  height: inherit;
  background-color: #f9fafb;
  padding-top: 13vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
  display: grid;
  grid-template-rows: .8fr 3fr 0.2fr;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  background-color: #fff;
  box-shadow: 5px 3px 12px 0px rgba(0, 0, 0, 0.2);
  padding: 4vh 2vw;
  height: fit-content;
}

label {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1vw;
  margin-bottom: 1vh;
  width: fit-content;
}

input {
  width: 14rem;
  height: 2rem;
  padding: 6px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #E5E7EB;
  vertical-align: middle;
  font-size: 1vw;
  transition: all 300ms;
}

input:focus {
  outline: 1px solid #3DA7FF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 300ms;
}

.error {
  outline: red 1px solid;
  transition: all 300ms;
}

.error:focus {
  outline: red 1px solid;
  transition: all 300ms;
}

.error-message {
  color: red;
  font-size: .1vw;
  margin: 0;
  grid-row: 3 / 3;
}

/* "Let's do this!" */
.form-container:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 2;
  font-size: 1vw;
}

#names {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
  display: flex;
  flex-direction: column;
}

#contact {
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  display: flex;
  flex-direction: column;
}

.form-container>p {
  font-size: 1.5vw;
  font-weight: 600;
}

.right-column h2 {
  font-family: Helvetica, sans-serif;
  margin: 0 10vw 1.5rem 2vw;
  font-size: 1.5vw;
}

.title-container {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 20vh 0;
  padding: 1vh 8vw;
}

#odin-logo {
  height: 6rem;
}

.title {
  font-family: Norse;
  font-size: 6rem;
}

.photo-credits {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.photo-credits a {
  text-decoration: underline;
}

.photo-credits a:link {
  color: inherit;
}

.photo-credits a:visited {
  color: inherit;
}

button {
  margin: 2vw 0 1vw 2vw;
  padding: 1rem 3rem;
  font-size: 1.1rem;
  background-color: #596D48;
  color: white;
  font-weight: 600;
  font-size: 1vw;
  border-radius: 5px;
  border: 0px;
  font-family: Tahoma, sans-serif;
  letter-spacing: 1px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 300ms;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0px 8px 3px rgba(0, 0, 0, 0.4);
  transition: all 300ms;
}

#have-acc {
  font-size: 1vw;
  margin-left: 2vw;
  font-weight: 600;
}

p[id="have-acc"] a {
  text-decoration: none;
  color: #596D48;
}

